/* no way a sick comment */
h1 {
    /* color way 4 */
    color: red;
    /* unique abs unit 1*/
    /* margin long */
    margin-left: 800px;
    /* Font used */
    font-family: 'Caveat', cursive;
}
h2 {
    /* color way 1 */
    color: rgba(0, 200, 0,0.8);
    /* unique abs unit 2*/
    /* margin short */
    margin:0pc 1pc 0pc 10pc;

}
h3 {
    /* unique abs unit 3*/
    margin: auto 1mm;
    /* color way 2 */
    color:#0033cc;
    /* 1st display */
    display: inline-block;
}
/* Border */
.box {
    /* Border Radius */
    border-radius: 12px;

    /* Border Width */
    border-width: 3px;
    /* Border Style */
    border-top-style: solid;
    /* Border Color */
    border-top-color: red;

    border-bottom-style: dotted;
    border-bottom-color: black;
} 
h5 {
    /* 2nd display */
    display: none;
}
h6 {
    height: 100px;
    width: 100px;
    max-height: 1000000px;
    max-width: 100000px;
    /*position 1  */
    position: relative;
}
.square {
    box-sizing: border-box;
    display: block;
    width: 50px;
    height: 50px;
    padding: 5px;
    background: pink;
    margin-top: 10px;
    color: black;
    /*position 2*/
    position: sticky;
}
/*Pseudo-class HOVER */
.square:hover {
    background: yellow;
    color: black;
}
.square:active {
    background: red;
    color: white;
}
#secondSquare {
    box-sizing: border-box;
    display: block;
    width: 50px;
    height: 50px;
    padding: 5px;
    background: pink;
    margin-top: 10px;
    color: black;
    /*position 2*/
    position: relative;
}
#secondSquare:hover{
    background: yellow;
    color: black;
}
/*Pseudo-class Active */
#secondSquare:active{
    background: green;
    color: black;
}
.flex-container {

    display: flex;
    
    flex-flow: row wrap;
    max-width: 10vw;
    justify-content: space-around;
    
    list-style: none;
}

.grid-container {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
} 
  /* Maximum width */
@media (max-width: 1000px) {
    h1 {
      color: yellow;
    }
}